<title>最新优惠活动</title>
<div class="activitybox">
  <ul>
    <li style="display: none" li class="acbox">
      <i>
        <img src="res/images/banner01.jpg" />
      </i>
      <h3>请您联系客服，领取活动奖励！</h3>
      <p></p>
      <b></b>
      <a onclick="showActivityDetail('detail')">查看详情</a>
    </li>
    <li style="display: none" li class="acbox">
      <i><img src="res/images/banner02.jpg" /></i>
      <h3>活动暂未开始，敬请期待！</h3>
      <p>活动暂未开始，敬请期待！</p>
      <b>活动时间:暂未开始</b>
      <a onclick="showActivityDetail('detail2')">查看详情</a>
    </li>
    <li style="display: none" li class="acbox">
      <i><img src="res/images/banner03.jpg" /></i>
      <h3>活动暂未开始，敬请期待！</h3>
      <p>活动暂未开始，敬请期待！</p>
      <b>活动时间:暂未开始</b>
      <a onclick="showActivityDetail('detail3')">查看详情</a>
    </li>
    <li style="display: none" li class="acbox">
      <i><img src="res/images/banner04.jpg" /></i>
      <h3>活动暂未开始，敬请期待！</h3>
      <p>活动暂未开始，敬请期待！</p>
      <b>活动时间:暂未开始</b>
      <a onclick="showActivityDetail('detail4')">查看详情</a>
    </li>
    <li style="display: none" li class="acbox">
      <i><img src="res/images/banner05.jpg" /></i>
      <h3>活动暂未开始，敬请期待！</h3>
      <p>新人当月投注满额，即可领取相应额度奖励。最高888U</p>
      <b>活动时间:暂未开始</b>
      <a onclick="showActivityDetail('detail5')">查看详情</a>
    </li>
    <li style="display: none" li class="acbox">
      <i><img src="res/images/banner06.jpg" /></i>
      <h3>活动暂未开始，敬请期待！</h3>
      <p>活动暂未开始，敬请期待！</p>
      <b>活动时间:暂未开始</b>
      <a onclick="showActivityDetail('detail6')">查看详情</a>
    </li>
  </ul>
</div>
