<title>软件下载</title>
<div class="soft">
  <ul>
    <li class="FTlink">
      <i></i>
      <span>佛跳墙VPN</span>
      <p>多渠道，点对点VPN软件，超快速度</p>
      <a target="_blank" href="https://getftq.internetedu.xyz/">点击下载</a>
    </li>
    <li class="xflink">
      <i></i>
      <span>风加速VPN</span>
      <p>翻墙必备，全球服务器网络超快速度</p>
      <a target="_blank" href="https://www.xfjiasu.com/">点击下载</a>
    </li>
    <li class="TLlink">
      <i></i>
      <span>Telegram客户端</span>
      <p>简称TG或电报，即时通讯软件，特点用户可以相互交换加密或自毁消息。</p>
      <a target="_blank" href="https://telegram.org/">点击下载</a>
    </li>
    <li class="XLlink">
      <i></i>
      <span>兴隆钱包</span>
      <p>兴隆数字钱包AI智能追踪电脑下单系统。</p>
      <a target="_blank" href="https://www.luckhash.me/WallBet1919.rar"
        >点击下载</a
      >
    </li>
  </ul>
</div>
